#app-container {
  width: 100vw;
  height: 100vh;
}

#header-container {
  padding-top: 2px;
  padding-right: 2px;
  height: 44px;
  background-color: #264e80;
}

#main-container {
  display: flex;
}

#sidebar {
  height: calc(100vh - 44px);
  background-color: #81b1eb;
  padding: 1em 2%;
  flex: 2;
}

#main-window {
  height: calc(100vh - 44px);
  background-color: #ffffff;
  flex: 7;
  padding: 2em 5%;
  overflow-y: scroll;
  overflow-x: hidden;
}
